.imgSlider {
    width: 80%;
    border-bottom: 1px solid var(--half-dark);
}

.imgSlider .flickity-button-icon {
    color: var(--main-dark);
}

.imgSlider img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}