/* Add modern looking styles for Footer component */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 29, 29);
  padding: 20px 0;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
  color: #fff;
}

.footer-padding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}