@import "../../index.css";

.footer-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-BgColor);
  color: var(--main-light);
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--main-light);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
}

.footer-padding {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 48em) {
  .footer-container {
    padding: 0;
  }

  .footer-padding {
      padding: 20px 0 10px 0;
      flex-wrap: wrap;
      justify-content: center;
  }

  .footer-links {
    width: 100%;
    justify-content: space-evenly;
    gap: 0;
  }

  .footer-links a:hover {
    text-decoration: none;
  }
}