@import "../../index.css";
/* Add modern looking styles for Footer component */
.footer-container {
/*   display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-BgColor);
  padding: 20px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--main-light); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-BgColor);
  padding: 20px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--main-light);
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--main-light);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
}

.footer-padding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}