#admin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    overflow-x: hidden;
}

#admin > h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--main-blue);
    color: var(--main-cream);
}

.adminFunctions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.adminCars,
.adminUsers {
    width: 50%;
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: center;
    margin: 10px 40px 40px 40px;
    border: 1px solid var(--main-dark);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.adminCars > legend,
.adminUsers > legend {
    padding: 0 10px 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.adminButtons {
    width: 150px;
    margin: 0 10px 10px 10px;
    background-color: var(--main-dark);
    cursor: pointer;
}
.adminButtons:hover {
    background-color: var(--half-dark);
}

#addCar, #editCar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    border: 1px solid #fff;
    border-radius: 5px;
}

#addCar > legend,
#editCar > legend {
    padding: 0 10px 0 10px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--main-blue);
}

#addCar form {
    width: 100%;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    color: var(--main-dark);
    font-weight: 600;
}

.adminLabel {
    width: 100%;
    padding-bottom: 5px;
    display: block;
}

#carImage + i {
    width: 100%;
    margin: 2px;
    padding: 0;
    display: block;
    font-size: 12px;
}

.adminInput {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    background-color: var(--main-cream);
    border: 2px solid transparent;
    border-radius: 5px;
}
.adminInput:hover {
    outline: none;
    width: 100%;
    border: 2px solid var(--main-green);
}

.adminInputOther {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    display: block;
    background-color: var(--main-cream);
    border: 2px solid transparent;
    border-radius: 5px;
}
.adminInputOther:hover {
    outline: none;
    width: 100%;
    border: 2px solid var(--main-green);
}

.backFromOther {
    margin-bottom: 10px;
    padding: 8px;
    background-color: var(--main-red);
    font-size: 14px;
    cursor: pointer;
}
.backFromOther:hover {
    background-color: var(--half-dark);
}

.adminInputFile {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    background-color: var(--main-cream);
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--half-dark);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.adminInputFile:hover {
    outline: none;
    width: 100%;
    border: 2px solid var(--main-green);
}

.adminCarButtons {
    width: 100%;
    margin-top: 40px;
    background-color: var(--main-dark);
    color: var(--main-cream);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}
.adminCarButtons:hover {
    background-color: var(--half-dark);
}

.adminCarButtons:last-child {
    width: 100%;
    margin-top: 40px;
    background-color: var(--main-red);
    color: var(--main-cream);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}
.adminCarButtons:last-child:hover {
    background-color: var(--half-dark);
}

.adminCarGrid {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    border: 3px solid var(--main-dark);
    border-bottom: 2px solid var(--main-dark);
    border-radius: 5px 5px 0 0;
}

.adminCarHeader {
    display: contents;
}

.adminCarHeader > div {
    padding: 10px;
    background-color: var(--main-dark);
    color: var(--main-cream);
}
.adminCarHeader > div:last-child {
    text-align: center;
}

.adminCarGridRow {
    display: contents;
}

.adminCarGridRow > div {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--main-cream);
    border-bottom: 1px solid var(--main-dark);
}

.adminCarGridRow > div > button {
    width: 100%;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--main-red);
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.adminCarGridClose {
    width: 200px;
    background-color: var(--main-dark);
    color: var(--main-cream);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}
.adminCarGridClose:hover {
    background-color: var(--half-dark);
}


.editThisCar > .carCard {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
















#deleteCar {
    width: 80%;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
}

#deleteCar > legend {
    font-size: 20px;
    font-weight: bold;
}

#deleteCar > button {
    cursor: pointer;
}

#carGridDelete {
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.deleteThisCar {
    width: 100%;
}

.deleteThisCar > button {
    width: 100%;
    margin: 0;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.deleteThisCar > .carCard {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}


#allCars {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button {
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.car-table {
    width: 80%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.car-table th {
    background-color: #060202;
    padding: 10px;
    text-align: left;
}

.car-table td {
    padding: 10px;
}

.car-table button {
    margin-right: 5px;
    cursor: pointer;
}


#editUser {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    border: 1px solid #fff;
    border-radius: 5px;
}

#editUser > legend {
    padding: 0 10px 0 10px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--main-blue);
}

.adminUserGrid {
    width: 100%;
    margin-bottom: 20px;
    /* display: grid; */
    /* grid-template-columns: repeat(6, auto); */
    border: 3px solid var(--main-dark);
    border-bottom: 2px solid var(--main-dark);
    border-radius: 5px 5px 0 0;
}

.adminUserGrid > thead > tr > th {
    padding: 10px;
    background-color: var(--main-dark);
    color: var(--main-cream);
}

.adminUserGrid > tbody > tr > td {
    height: 50px;
    /* display: flex; */
    align-items: center;
    padding-left: 10px;
    background-color: var(--main-cream);
    border-bottom: 1px solid var(--main-dark);
}

.adminUserGrid > tbody > tr > td > button {
    width: 100%;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--main-red);
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.adminUserGridClose {
    width: 200px;
    background-color: var(--main-dark);
    color: var(--main-cream);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}
.adminUserGridClose:hover {
    background-color: var(--half-dark);
}
