#car {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-cream);
    flex: 1 0 auto;
}

.carSearch {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow:  0 0 3px 0.5px var(--main-blue);
}

#carGrid {
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

#carGrid > .carCard {
    width: 100%;
    height: clamp(350px, 400px, 600px);
    margin: 0;
    grid-template-rows: auto auto auto 60px;
}

#carGrid > .carCard > img {
    transition: 0.2s ease-in-out;
}
#carGrid > .carCard > img:hover {
    width: 90%;
    border-bottom: 3px solid var(--main-blue);
}

#carGrid .carHeader {
    height: auto;
    padding: 5px 0 0 0;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 0;
}

#carGrid .carName, #carGrid .carPrice {
    width: auto;
    padding: 0;
    font-size: 18px;
}

#carGrid .carDetails > div {
    padding: 5px 0 5px 0;
    align-items: center;
    row-gap: 0;
}

#carGrid .carDetails > div > p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}