#carDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-cream);
    flex: 1 0 auto;
}

.carDetailContainer {
    width: 100%;
    flex: 1 0 auto;
}