#hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.hdcarwallpapers.com/walls/2018_skoda_fabia_4k-HD.jpg);
}