/* Login.css */

.login-page, .registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex: 1 0 auto;
}

.login-page h1, .registration-page h1 {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Restricting the maximum width */
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
