/* Dark mode styles for UserPage */

#user {
  background-color: #333;
  color: #fff;
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#userEdit {
  padding: 20px;
}

.currentDetail {
  font-weight: bold;
}

.userDetail {
  margin-bottom: 10px;
}

#userEdit button {
  background-color: #555;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#userEdit button:hover {
  background-color: #777;
}

#userRes {
  margin-top: 20px;
  font-weight: bold;
}

.booking {
  background-color: #444;
  padding: 10px;
  margin-bottom: 10px;
}

.bookingDetail {
  margin-top: 10px;
}

.bookingDetailTitle {
  font-weight: bold;
}

#userPrevRes {
  margin-top: 20px;
  font-weight: bold;
}

