/* Dark mode styles for UserPage */

#user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userHeader {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 50px;
}

.userHeader > button {
  width: auto;
  margin-right: 25px;
  background-color: rgb(216, 25, 25);
  cursor: pointer;
}
.userHeader > button:hover {
  background-color: rgb(168, 5, 5);
}

.userData {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--main-blue);
}

.userDetails {
  width: 500px;
  margin: 30px;
  padding: 10px 20px 0px 20px;
  display: flex;
  column-gap: 20px;
  border: 1px solid var(--main-light);
  border-radius: 5px;
}

.userDetails > legend {
  padding: 0 10px 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-light);
}

.detailContainer {
  width: 50%;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-cream);
  border-radius: 5px;
}

.detailContainer > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changeContainer {
  width: 100%;
}

.changeContainer:last-child {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.changePwLabel {
  width: 100%;
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
}

.changePwInput {
  width: auto;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.changeCancel, .changeSubmit {
  width: 45%;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-blue);
  font-size: 14px;
}

.changeCancel:hover, .changeSubmit:hover {
  background-color: var(--main-dark);
}

.details:first-child {
  font-weight: 600;
}

.changePw {
  width: auto;
  background-color: var(--main-blue);
  font-size: 14px;
  cursor: pointer;
}

.changePw:hover {
  background-color: var(--main-dark);
}


#userRes {
  margin-top: 20px;
  font-weight: bold;
}

.booking {
  background-color: #444;
  padding: 30px;
  margin-bottom: 10px;
}

.bookingDetail {
  margin-top: 10px;
}

.bookingDetailTitle {
  font-weight: bold;
  margin: 10px 0;
}

#userPrevRes {
  margin-top: 20px;
  font-weight: bold;
}

