@import "../../index.css";

.carCard {
    width: 35%;
    height: clamp(300px, 350px, 500px);
    display: grid;
    grid-template-rows: 50% 15% 20% 15%;
    justify-items: center;
    margin: 0 20px 0 20px;
    background-color: var(--main-light);
    box-shadow: 0 0 5px 1px var(--half-dark);
    border-radius: 5px;
    text-align: center;
    color: var(--main-dark);
  }

  .carCard > img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    border-bottom: 1px solid var(--half-dark);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .carCard > img:hover {
    width: 100%;
    border-bottom: 3px solid var(--main-blue);
  }

  .carHeader {
    width: 100%;
    padding: 10px 0 10px 0;
    display: flex;
  }

  .carName {
    width: 50%;
    padding-left: 5%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .carPrice {
    width: 50%;
    padding-right: 5%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .carDetails {
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  .carDetails > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .carDetails > p {
    width: auto;
    padding-right: 15px;
    text-align: left;
  }

  .carDetails > div > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .showDetails {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-dark);;
    border: none;
    border-radius: 0 0 5px 5px;
    color: var(--main-light);
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .showDetails:hover {
    background-color: var(--half-dark);
  }