@import "../../index.css";

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://www.hdcarwallpapers.com/walls/2018_skoda_fabia_4k-HD.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#heroBg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--hero-BgColor);
    color: var(--main-light);
}

#heroText > h1 {
    margin: 0;
    font-size: 40px;
}

#heroText > p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 20px;
}

#goToCars {
    width: 150px;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-cream);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 8px var(--main-blue);
    color: var(--main-dark);
    text-decoration: none;
    transition: 0.2s ease-in;
}
#goToCars:hover {
    background-color: var(--main-blue);
    box-shadow: none;
    color: var(--main-cream);
}

#goToCars > p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

@media (max-width: 48em) {
    #hero {
        height: 100dvh;
    }

    #heroBg {
        padding: 20px;
        box-sizing: border-box;
    }

    #heroText > h1 {
        margin: 0;
        font-size: 30px;
    }
    
    #heroText > p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 15px;
    }

    #goToCars {
        width: 100px;
        height: 30px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--main-cream);
        border-radius: 5px;
        box-shadow: 0px 0px 15px 8px var(--main-blue);
        color: var(--main-dark);
        font-size: 12px;
        text-decoration: none;
        transition: 0.2s ease-in;
    }
    #goToCars:hover {
        background-color: var(--main-cream);
        box-shadow: 0px 0px 15px 8px var(--main-blue);
        color: var(--main-dark);
    }
}